@import url('https://fonts. googleapis.com/css2?family=Montserrat:wgh@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.flex-class{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s ease;
    z-index: 2;
}

.s-wrapper{
    height: 100vh;
    width: 100%;
    background-color: #121212;
    overflow: hidden;
}

.content{
    height: 100%;
    width: 40%;
    min-width: 300px;
    max-width: 400px;
}

.container{
    background-color: #fff;
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: 25px;
    border-radius: 10px;
}

.name{
    font-size: 26px;
    letter-spacing: 2px;
    color: #101010;
    font-weight: 600;
    margin: 30px 0px;
}

input{
    border: none;
    margin: 5px;
    padding: 10px;
    width: 100%;
    background-color: #fafafa;
    font-size: small;
    border-radius: 7px;
}

button{
    border: none;
    font-size: small;
    width: 100%;
    background-color: #b2dffc;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 7px;
}

.btn-menu-signout{
    background-color: #d70606;
}

.btn-menu-list{
    background-color: #1fcf0b;
}

.divider{
    color: #8e8e8e;
    font-size: 14px;
    flex-direction: row;
    margin-top: 20px;
}

.divider span{
    height: 1px;
    width: 100px;
    margin: 0px 20px;
    background-color: #dbdbdb;
}

.fb{
    font-size: small;
    flex-direction: row;
    font-weight: 500;
    color: #0000ff;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.fb:hover{
    background-color: #0095f620;
}

.forget-password{
    color: #8e8e8e;
    font-size: small;
    cursor: pointer;
    margin-top: 20px;
}

.forget-password:hover{
    text-decoration: underline;
}

.sub-container{
    width: 100%;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    margin-top: 10px;
    padding: 20px 0px;
    font-size: 15px;
    border-radius: 10px;
}

.sub-container span{
    color: #0099ff;
    margin-left: 3px;
    font-weight: 500;
    cursor: pointer;
}

.sub-container span:hover{
    text-decoration: underline;
}

.loged-in{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.warning{
    color: #ff0000;
    font-size: small;
    margin: 5px;
    text-align: center;
}